body {
    background-image: linear-gradient(to right bottom, #A9A9A9,#D3D3D3);
    }
    .covidData {
    background-image: linear-gradient(to right bottom, 	#E0FFFF, #D8BFD8);
    width: 50%;
    margin: auto;
    margin-top: 15px;
    border-radius: 6px;
    padding: 50px;
    }

    
    .covidData__form {
    padding: 10px;
    margin: 20px;
    }
    .covidData__input input {
    width: 190px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .covidData__input button {
    width: 80px;
    height: 50px;
    margin-top: 10px;
    background-color:white;
    color: black;
    font-size:18px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgb(71, 67, 67);
    cursor: pointer;
    }
    
    @media(min-width:500px){
    .covidData__country__info {
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: auto;
    padding-left: 10px;
    background-image: linear-gradient(to right bottom,#F0FFF0,#FAEBD7 );
    margin-top: 20px;
    padding: 2px;
    text-shadow: 1px 1px 1px rgb(71, 67, 67);
    box-shadow: 5px 5px 5px rgb(71, 67, 67);
    }
}
    
